.sub-node-input{
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: inherit;
    line-height: inherit;
    vertical-align: middle;
}
.sub-node-group{
    fill: pink;
    opacity: 0.5;
    transition: all 0.2s;
    cursor: pointer;
}
.sub-node-border{
   opacity: 0;
    pointer-events: none;
}
.sub-node-group:hover .sub-node-border {
    opacity: 0.5;
    pointer-events: auto; 
}
.sub-node-input,
.sub-node-group span,
.sub-node-group input,
.sub-node-group div,
.sub-node-group img,
.sub-node-plus-group div,
.sub-node-plus-group img {
  user-select: none;
}

/* 也可以全局覆盖 */
span, input, div, img {
  user-select: none;
}
