.container-left {
  position: relative;
  left: 0;
  width: 60px;
  height: 90vh;
  background-color: rgb(233, 216, 180);
  border-right: 1px solid rgb(233, 216, 180);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  box-shadow: 2px 0 2px 0 #dfa319;
}

.left-btn {
  width: 40px;
  height: 40px;
  background: #e9d8b4;
  border-radius: 10%;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: transform 0.2s ease-in-out;
}

.left-btn:hover {
  background: #dfa319;
}

.left-toggle-btn {
  width: 18px;
  height: 40px;
  border-radius: 10%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  opacity: 0;
}

.left-toggle-btn:hover {
  opacity: 1;
  background: #dfa319;
}


.left-menu-popup {
  position: absolute;
  left: 100%;
  width: 150px;
  background: #e9d8b4;
  box-shadow: 0 1px 2px #dfa319;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 100;
  padding: 8px 0;
}

.left-menu-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}
.left-menu-item-container{
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  width: 90%;
  padding: 0 8px;
  box-sizing: border-box;
}
.left-menu-item-container:hover {
  background: #dfa319;
}
.left-menu-btn {
  width: 100px;
  height: 40px;
  margin: 6px 0;
  border: none;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
  text-align: left;
  padding-left: 8px;
  color:white;
}


.bottom-button-container {
  margin-top: auto;
  margin-bottom: 30px;
}

.left-btn-bottom-active{
  width: 40px;
  height: 40px;
  background: #f2a900;
  border-radius: 10%;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: transform 0.2s ease-in-out;
}

.subscribe-btn{
  width:30px;
  height:30px;
  background:transparent;
  border:none;
  color:#dfa319;
  cursor:pointer; 
}

.subscribe-btn:hover{
  background:#dfa319;
  color:white;
  border-radius:10%;
}